html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Courier New", Courier, monospace;
}

* {
  box-sizing: border-box;
}

.header {
  background-color: #609966;
  color: white;
}
